In [85]:
%autosave 60

Autosaving every 60 seconds

In [86]:
import pandas as pd
import numpy

In [87]:
# 파일 불러와서 변수에 저장
placeinfo = pd.read_csv('대여소.csv', encoding='cp949')
loginfo = pd.read_excel('log.xlsx')

In [88]:
placeinfo

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
# 대여소번호에 NA값 있는 행 삭제
placeinfo = placeinfo.dropna(subset=['대여소\n번호'])

In [90]:
placeinfo

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
5,302.0,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12,NaN,LCD
6,303.0,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8,NaN,LCD
7,304.0,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7,QR
8,305.0,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2153,1085.0,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,NaN,20,QR
2154,1086.0,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,NaN,10,QR
2155,1088.0,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,NaN,12,QR
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR

In [91]:
#컬럼명 깔끔히 정렬
placeinfo.columns = ['대여소번호', '대여소명', '소재지', '주소', '위도', '경도', '설치시기', 'lcd', 'qr', '운영방식']

In [92]:
placeinfo

,대여소번호,대여소명,소재지,주소,위도,경도,설치시기,lcd,qr,운영방식
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
5,302.0,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12,NaN,LCD
6,303.0,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8,NaN,LCD
7,304.0,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7,QR
8,305.0,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2153,1085.0,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,NaN,20,QR
2154,1086.0,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,NaN,10,QR
2155,1088.0,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,NaN,12,QR
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR

In [93]:
# 대여소번호가 부동소수점이라서 int 변경후 str로 재변경
placeinfo = placeinfo.astype({'대여소번호' : 'int'})
placeinfo = placeinfo.astype({'대여소번호' : 'str'})

In [94]:
placeinfo

,대여소번호,대여소명,소재지,주소,위도,경도,설치시기,lcd,qr,운영방식
4,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
5,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12,NaN,LCD
6,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8,NaN,LCD
7,304,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7,QR
8,305,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2153,1085,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,NaN,20,QR
2154,1086,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,NaN,10,QR
2155,1088,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,NaN,12,QR
2156,1089,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR

In [95]:
loginfo

        대여소 그룹                대여소 명  반납 일자 / 월  반납 건수
0       그룹명 없음              대여소명 없음 2017-01-01     10
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01     12
2          광진구         501. 광진구의회 앞 2017-01-01     10
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01     13
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01      8
...        ...                  ...        ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31      1
245442     중랑구          1445. 용마지구대 2017-12-31      0
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31      2
245444     중랑구       1447. 면목역 3번출구 2017-12-31      2
245445     중랑구       1448. 코스트코 상봉점 2017-12-31      8

[245446 rows x 4 columns]

In [99]:
#loginfo 컬럼명 깔끔히 정렬
loginfo.columns = ['구', '대여소명', '반납일', '건수']

In [117]:
# loginfo 대여소명 컬럼에서 대여소번호 찾아서 새로운 칼럼 만들어주기
loginfo['대여소번호'] = loginfo.대여소명.str.split('.').str[0]

 loginfo['대여소번호'] = loginfo.대여소명.str[:loginfo.대여소명.str.index('.')]
 #새로운 방법

In [118]:
loginfo

             구                 대여소명        반납일  건수    대여소번호
0       그룹명 없음              대여소명 없음 2017-01-01  10  대여소명 없음
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01  12      500
2          광진구         501. 광진구의회 앞 2017-01-01  10      501
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01  13      502
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01   8      503
...        ...                  ...        ...  ..      ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31   1     1442
245442     중랑구          1445. 용마지구대 2017-12-31   0     1445
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31   2     1446
245444     중랑구       1447. 면목역 3번출구 2017-12-31   2     1447
245445     중랑구       1448. 코스트코 상봉점 2017-12-31   8     1448

[245446 rows x 5 columns]

In [119]:
#loginfo에 대여소번호칼럼 값 중 '대여소명 없음' 삭제 (굳이해줄필요없었음)
abc = loginfo[loginfo['대여소번호'] == '대여소명 없음'].index
loginfo = loginfo.drop(abc)

In [120]:
loginfo

          구                 대여소명        반납일  건수 대여소번호
1       광진구  500. 어린이대공원역 3번출구 앞 2017-01-01  12   500
2       광진구         501. 광진구의회 앞 2017-01-01  10   501
3       광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01  13   502
4       광진구     503. 더샵스타시티 C동 앞 2017-01-01   8   503
5       광진구       504. 신자초교입구교차로 2017-01-01  13   504
...     ...                  ...        ...  ..   ...
245441  중랑구  1442. (구)신한은행 중랑교지점 2017-12-31   1  1442
245442  중랑구          1445. 용마지구대 2017-12-31   0  1445
245443  중랑구      1446. 중랑전화국 교차로 2017-12-31   2  1446
245444  중랑구       1447. 면목역 3번출구 2017-12-31   2  1447
245445  중랑구       1448. 코스트코 상봉점 2017-12-31   8  1448

[244630 rows x 5 columns]

In [121]:
loginfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244630 entries, 1 to 245445
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구       244630 non-null  object
 1   대여소명    244630 non-null  object
 2   반납일     244630 non-null  datetime64[ns]
 3   건수      244630 non-null  int64
 4   대여소번호   244630 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 11.2+ MB

In [122]:
# 조인으로 덮어쓰기
total_info= pd.merge(loginfo, placeinfo, left_on='대여소번호', right_on='대여소번호', how='left')
print(total_info)

          구               대여소명_x        반납일  건수 대여소번호          대여소명_y  소재지  \
0       광진구  500. 어린이대공원역 3번출구 앞 2017-01-01  12   500  어린이대공원역 3번출구 앞  광진구
1       광진구         501. 광진구의회 앞 2017-01-01  10   501         광진구의회 앞  광진구
2       광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01  13   502   뚝섬유원지역 1번출구 앞  광진구
3       광진구     503. 더샵스타시티 C동 앞 2017-01-01   8   503             NaN  NaN
4       광진구       504. 신자초교입구교차로 2017-01-01  13   504             NaN  NaN
...     ...                  ...        ...  ..   ...             ...  ...
244959  중랑구  1442. (구)신한은행 중랑교지점 2017-12-31   1  1442   (구)신한은행 중랑교지점  중랑구
244960  중랑구          1445. 용마지구대 2017-12-31   0  1445           용마지구대  중랑구
244961  중랑구      1446. 중랑전화국 교차로 2017-12-31   2  1446       중랑전화국 교차로  중랑구
244962  중랑구       1447. 면목역 3번출구 2017-12-31   2  1447        면목역 3번출구  중랑구
244963  중랑구       1448. 코스트코 상봉점 2017-12-31   8  1448        코스트코 상봉점  중랑구

                         주소         위도          경도        설치시기  lcd   qr 운영방식
0       서울특별시 광진구 능동로 지하210  37.547070  127.074272  2015-10-07   10  NaN  LCD
1          서울특별시 광진구 능동로 76  37.537308  127.070351  2015-10-07   30  NaN  LCD
2          서울특별시 광진구 능동로 10  37.531860  127.067192  2015-10-07   27  NaN  LCD
3                       NaN        NaN         NaN         NaN  NaN  NaN  NaN
4                       NaN        NaN         NaN         NaN  NaN  NaN  NaN
...                     ...        ...         ...         ...  ...  ...  ...
244959       서울특별시 중화동 50-8  37.598591  127.079819  2017-11-01    8  NaN  LCD
244960      서울특별시 면목동 197-5  37.579941  127.079399  2017-11-01   10  NaN  LCD
244961  서울특별시 중랑구 면목동 282-8  37.591301  127.080330  2017-11-01   10  NaN  LCD
244962      서울특별시 면목동 120-2  37.588902  127.087280  2017-11-01   15  NaN  LCD
244963      서울특별시 상봉동 160-3  37.597321  127.089798  2017-11-01   15  NaN  LCD

[244964 rows x 14 columns]

In [123]:
total_info

,구,대여소명_x,반납일,건수,대여소번호,대여소명_y,소재지,주소,위도,경도,설치시기,lcd,qr,운영방식
0,광진구,500. 어린이대공원역 3번출구 앞,2017-01-01,12,500,어린이대공원역 3번출구 앞,광진구,서울특별시 광진구 능동로 지하210,37.547070,127.074272,2015-10-07,10,NaN,LCD
1,광진구,501. 광진구의회 앞,2017-01-01,10,501,광진구의회 앞,광진구,서울특별시 광진구 능동로 76,37.537308,127.070351,2015-10-07,30,NaN,LCD
2,광진구,502. 뚝섬유원지역 1번출구 앞,2017-01-01,13,502,뚝섬유원지역 1번출구 앞,광진구,서울특별시 광진구 능동로 10,37.531860,127.067192,2015-10-07,27,NaN,LCD
3,광진구,503. 더샵스타시티 C동 앞,2017-01-01,8,503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광진구,504. 신자초교입구교차로,2017-01-01,13,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244959,중랑구,1442. (구)신한은행 중랑교지점,2017-12-31,1,1442,(구)신한은행 중랑교지점,중랑구,서울특별시 중화동 50-8,37.598591,127.079819,2017-11-01,8,NaN,LCD
244960,중랑구,1445. 용마지구대,2017-12-31,0,1445,용마지구대,중랑구,서울특별시 면목동 197-5,37.579941,127.079399,2017-11-01,10,NaN,LCD
244961,중랑구,1446. 중랑전화국 교차로,2017-12-31,2,1446,중랑전화국 교차로,중랑구,서울특별시 중랑구 면목동 282-8,37.591301,127.080330,2017-11-01,10,NaN,LCD
244962,중랑구,1447. 면목역 3번출구,2017-12-31,2,1447,면목역 3번출구,중랑구,서울특별시 면목동 120-2,37.588902,127.087280,2017-11-01,15,NaN,LCD
244963,중랑구,1448. 코스트코 상봉점,2017-12-31,8,1448,코스트코 상봉점,중랑구,서울특별시 상봉동 160-3,37.597321,127.089798,2017-11-01,15,NaN,LCD

In [75]:
#csv파일로 내보내기
total_info.to_csv("total_Csv")